/* body {
  margin-top: 10px;
  background-color: rgb(157, 157, 157);
} */

.heading-content {
  margin-top: 10px;
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 10px !important;
}

.rtb {
  margin-left: 30%;
  margin-right: 30%;
  /* color: green; */
  font-family: Calibri, sans-serif;
}
