 body {
     height: 100vh;
     margin-top: 10px;
     background-image: url("./img/bg/bg.jpg");
     background-repeat: no-repeat;
     background-size: cover;
  /*background-color: #2E3436 !important;*/
}

 .logo {
     color: forestgreen !important;
 }

.heading-content {
    color: #5bc0de !important;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.list-group-item {
    color: #5bc0de;
    border-color: #5cb85c;
    background-color: #191919 !important;
}

.countVal {
  color: #fff;
}