 body {
  margin-top: 10px;
  background-color: #2E3436 !important;
}

 .logo {
   color: forestgreen;
 }

.heading-content {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.heading-content i {
  color: #5CB85C;
}